#root {
  margin: 0 auto;
}
/* App.css */
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.hover\:flip-image {
  animation: flip 2s ease-in-out infinite;
}
